<div class="container">
  <!-- <app-shape-divider></app-shape-divider> -->

  <app-task-text [showTask]="true" [taskText]="taskText"></app-task-text>

  <div
    *ngIf="showHelp"
    class="help-cloud animate__animated"
    [innerHTML]="helpText"
    [ngClass]="{ animate__jackInTheBox: showHelp }"
  ></div>

  <div class="owl animate__animated animate__backInDown">
    <img src="{{ owlImage }}" alt="owl GIF" />
    <div class="tag-cloud" [innerHTML]="text"></div>
  </div>

  <div class="bottom">
    <div class="help-button">
      <button
        [disabled]="disableHelpButton"
        class="help-action-button"
        (click)="help()"
      >
        <span>Pomoć!</span>
      </button>
    </div>

    <div class="prompt">
      <form id="message-form">
        <div class="form-input">
          <input
            [disabled]="disableInput"
            type="text"
            name="userMessage"
            id="message-input"
            placeholder="Napišite poruku..."
            [(ngModel)]="userMessage"
          />
        </div>
        <button
          [disabled]="disableButton"
          type="submit"
          (click)="sendMessage()"
        >
          Pošalji
        </button>
      </form>
    </div>

    <app-shape-divider></app-shape-divider>

    <div class="button">
      <button class="action-button" (click)="goHome()">
        <span>Novi zadatak</span>
      </button>
    </div>
  </div>
</div>
